.bench-main {
    width: 70%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

p a:hover {
    text-decoration: underline;
}

.project-section img {
    width: 43%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 70px;
}


.project-section {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}

.development-section {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}

.development-section img {
    width: 40%;
    height: auto;
    margin-right: 30px;
    border-radius: 8px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.group-list-item {
    text-align: left;
}

.realization-section {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}

.realization-section img {
    width: 40%;
    height: auto;
    border-radius: 8px;
}


#development img {
    margin-right: 30px;
}

#project p {
    margin-right: 20px;
}

#realization p {
    margin-right: 20px;
}


#carouselExampleDark .carousel-item img {
    height: 400px;
    object-fit: contain;
}

.carousel-caption {
    background-color: white;
    width: 30%;
    border-radius:15px;
    margin: auto;
}

.carousel-caption:hover {
opacity: 0;
}

#development .section-title {
    margin: 100px 0;
}


@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .project-section {
        text-align: center;
        flex-direction: column;
    }

    .project-section img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    }

    .development-section {
        text-align: center;
        flex-direction: column;
    }

    .development-section img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    }

    .realization-section {
        text-align: center;
        flex-direction: column;
    }

    .realization-section img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    }

    #development img {
        margin-bottom: 20px;
    }

    .section-title {
        text-align: center;
    }

    .bench-main {
        margin-top: 20px;
    }
}